## Apply function (Importante para IA)

La función apply en un DataFrame de la biblioteca pandas en Python se utiliza para aplicar una función a lo largo de una fila o columna del DataFrame. Permite realizar operaciones personalizadas en los datos del DataFrame, ya sea en una fila específica o en una columna completa.

La sintaxis básica de apply es la siguiente:

    df.apply(func, axis=0)

Donde:

    func: La función que deseas aplicar a cada fila o columna.
    axis: Indica si deseas aplicar la función a lo largo de las columnas (axis=0) o a lo largo de las filas (axis=1).

La función apply itera a través de cada elemento de la fila o columna especificada y aplica la función que hayas proporcionado. Puedes utilizar funciones predefinidas de Python o incluso funciones personalizadas definidas por el usuario.

Por ejemplo, si tienes un DataFrame df y deseas calcular la suma de los valores en cada columna, puedes usar apply de la siguiente manera:

In [13]:
import pandas as pd
import numpy as np

# Crear un diccionario con columnas y números aleatorios
data = {
    'Camisas vendidas': np.random.randint(0, 100, size=10),
    'Pantalones': np.random.randint(0, 100, size=10),
    'Calzoncillos': np.random.randint(0, 100, size=10),
    'Zapatos': np.random.randint(0, 100, size=10)
}
# Crear el DataFrame
mydf = pd.DataFrame(data)

def max_min(row):
    dict = {
        'total' : row['Camisas vendidas' : 'Zapatos'].sum(),
        'max' : row.max(),
        'min': row.min(),
        'meam': row.mean()
    }
    
    for key in dict:
        row[key] = dict[key]
    return row


mydf = mydf.apply(max_min, axis=1)
mydf

,Camisas vendidas,Pantalones,Calzoncillos,Zapatos,total,max,min,meam
0,68.0,13.0,62.0,20.0,163.0,68.0,13.0,40.75
1,58.0,67.0,49.0,10.0,184.0,67.0,10.0,46.00
2,36.0,43.0,2.0,1.0,82.0,43.0,1.0,20.50
3,79.0,26.0,40.0,34.0,179.0,79.0,26.0,44.75
4,28.0,86.0,91.0,17.0,222.0,91.0,17.0,55.50
5,48.0,0.0,70.0,0.0,118.0,70.0,0.0,29.50
6,25.0,13.0,80.0,97.0,215.0,97.0,13.0,53.75
7,31.0,56.0,43.0,50.0,180.0,56.0,31.0,45.00
8,11.0,82.0,42.0,49.0,184.0,82.0,11.0,46.00
9,44.0,81.0,82.0,46.0,253.0,82.0,44.0,63.25